{% extends 'base.html' %}
{% block main %}
    <h1>This are the headings</h1>
    <h3>Dangote Refinarry</h3>
    <h3>President Tinubu Saga</h3>
    <h3>Popsicool The CEO</h3>
    <hr>
    <p>Dangote has promise to start selling refined fuel by the end of this month 
       He said that petrol known as the pms will be selling to the marketers at #300 per liter
       and promise the that the price they will be buying the petrol will be fixed by NNPC
    </p>
    <hr>
    <p>President Tinubu said 1 million trailer bag of rice has landed in nigeria and 30 trailer each
       will be send to each state of the federation at the rate of #15000 per bag
       He said every nigerian citizen will have access to 1 bag only with there National Identification 
       Number and anyone withou the nin number will not have access to the rice in town
    </p>
    <hr>
    <p>Popsicool the CEO of Popsicool website developer has promise to recriute 70 thousand website designer
       he said he will take over the Nigeria IT industry by providing the country with standard security
       through technology    
    </p>
    <hr>
   {% endblock main %}
