.all_blogs{
    display: flex;
    gap:20px
}
.single_blog{
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    height: 400px;
}
.image_wrap{
    width: 100%;
    height: 50%;
}
.image_wrap img {
    width: 100%;
    height: 100%;
}
.title_text{
    text-align: center;
}